services:

  db:
    image: postgres:16
    container_name: leffa-db
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./LeffaAppiDb.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build: ./api
    container_name: leffa-api
    env_file:
      - ./api/.env
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: leffa-frontend
    env_file:
      - ./frontend/.env
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - api

volumes:
  pgdata: