.home-container {
  text-align: center;
  padding: 2rem;
}

.home-top {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.home-links {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.home-explorer-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

@media (min-width: 900px) {
  .home-explorer-wrapper > *:first-child {
    flex: 3;
  }

  .home-explorer-wrapper > *:last-child {
    flex: 2;
  }
}

@media (max-width: 899px) {
  .home-explorer-wrapper {
    flex-direction: column;
  }
}