.footer {
  background-color: #111;
  color: #ccc;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #222;
}
.footer {
  margin-top: auto;
}
