.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 4rem 3rem 1rem 3rem;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navlink:hover {
  border-radius: 1.5rem;
  background: #333333aa;
}

.account {
  margin-left: auto;
}