.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 4rem 3rem 1rem 3rem;
  flex-wrap: wrap;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navlink:hover {
  border-radius: 1.5rem;
  background: #333333aa;
}

.account {
  margin-left: auto;
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem 1.5rem;
    justify-content: center;
    gap: 0.5rem;
  }

  .account {
    margin-left: 0;
  }
}