section {
  padding: 1.6rem;
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.movie-card {
  width: 160px;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.movie-card img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.movie-card h3 {
  margin-bottom: 0.5rem;
}

.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.movie-card-link:hover h3 {
  text-decoration: underline;
}

.movie-card .avg-rating-component {
  margin-bottom: 6px;
  margin-top: 3px;
}

@media (max-width: 600px) {
  .movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }

  .movie-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  section {
    padding: 0;
  }
  .movie-grid {
    grid-template-columns: 1fr;
  }

  .movie-card {
    width: 200px;
  }
}