section {
    padding: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.movie-grid {
    gap: 1rem;
}

.movie-card {
    width: 160px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.movie-card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.movie-card h3 {
    margin-bottom: 0.5rem;
}

.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.movie-card-link:hover h3 {
  text-decoration: underline;
}
.movie-card .avg-rating-component {
  margin-bottom: 6px;
  margin-top: 3px;
}