.mainpage-container {
  text-align: center;
  padding: 2rem;
}

.mainpage-register-text {
  margin-bottom: 1rem;
}

.mainpage-register-link {
  color: #4da6ff;
  text-decoration: none;
}

.mainpage-register-link:hover {
  text-decoration: underline;
}

.home-explorer-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
}